.game {
  text-align: center;

  .headline {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .board-container {
    display: inline-block;

    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .board {
      font-size: 0;
      margin: 10px 50px;
      @media(max-width: 500px) {
        margin: 10px auto;
      }
    }

    .ships {
      padding: 0 150px;
      text-align: left;

      @media(max-width: 500px) {
        padding: 0;
        margin-bottom: 30px;
      }
    }

    .square {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid darkgray;

      @media(max-width: 500px) {
        height: 35px;
        width: 35px;
      }

      &.hover[data-square-status = '0']:hover {
        opacity: 0.5;
      }

      &[data-square-status = '0'] {
        background-color: skyblue;
      }

      &[data-square-status = '4'] {
        background-color: black;
      }

      &[data-square-status = '3'] {
        background-color: lightcoral;
      }

      &[data-ship-id = '1'] {
        border: 1px solid purple;
      }

      &[data-ship-id = '2'] {
        border: 1px solid aqua;
      }

      &[data-ship-id = '3'] {
        border: 1px solid limegreen;
      }

      &[data-ship-id = '4'] {
        border: 1px solid yellow;
      }
    }
  }

  button {
    margin-top: 20px !important;
    height: 60px;
    width: 300px;
  }
}
