#game {
  text-align: center;
}

.square {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.board {
  border: 1px solid black;
  display: inline-block;
  font-size: 0;
  padding: 2px;
}

div[data-square-status = '0'] {
  background-color: lightblue;
}

.hover[data-square-status = '0']:hover {
  opacity: 0.5;
}

div[data-square-status = '4'] {
  background-color: black;
}

div[data-ship-id = '1'] {
  border: 1px solid orange;
}

div[data-ship-id = '2'] {
  border: 1px solid blue;
}

div[data-ship-id = '3'] {
  border: 1px solid green;
}

div[data-ship-id = '4'] {
  border: 1px solid yellow;
}
